/* generic classes */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* backbone */

body {
    background-color: rgba(233, 233, 233, 0.658);
}

#game-window {
    background-color: rgb(180, 210, 230);
    width: 880px;
    height: 900px;
    margin: auto;
    overflow: auto;
    border: rgba(231, 230, 216, 0.295) 2.5px solid;
    border-radius: 5px;
}

#game-menu {
    background-color: rgb(95, 98, 126);
    width: 860px;
    height: 100px;
    border: rgb(48, 48, 18) 2.5px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

#game-container {
    background-color: rgb(95, 98, 126);
    width: 860px;
    height: 760px;
    border: rgb(48, 48, 18) 2.5px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

#game-menu-title {
    margin: 23px auto;
    width: 250px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: -3px 0 rgb(130, 138, 161), 0 0px rgb(130, 138, 161), 0px 0 rgb(130, 138, 161), 0 -3px rgb(130, 138, 161);
}

#prev {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: none;
}

#prev:hover {
    cursor: pointer;
    src: "../assets/back2.png";
}


/* main menu */

#main-menu {
    width: 300px;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    background-color: rgba(12, 3, 3, 0.158);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

.main-menu-button {
    width: 200px;
    height: 50px;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(187, 107, 93);
    text-align: center;
    line-height: 50px;
}

.main-menu-button:hover {
    background-color: rgb(187, 50, 25);
    cursor: pointer;
}


/* room */

#room {
    margin: auto;
    padding: 10px;
    width: fit-content;
    margin-top: 100px;
    background-color: rgba(12, 3, 3, 0.158);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
    display: none;
}

.nav-arrow {
    width: 70px;
    height: 336px;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

.nav-arrow:hover {
    background-color: rgb(95, 98, 126);
    cursor: pointer;
}

#hero-name-img-div {
    margin: 0px 10px;
    text-align: center;
}

#choose-hero-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: rgb(48, 48, 30) 2.5px solid;
}

#choose-hero-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(154, 219, 152);
    font-weight: bold;
    font-size: 30px;
}

#stats-div table {
    height: 50px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    background-color: rgb(154, 219, 152);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#room-start {
    height: 55px;
    text-align: center;
    line-height: 55px;
    background-color: rgb(187, 107, 93);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#room-start:hover {
    cursor: pointer;
    background-color: rgb(187, 50, 25);
}

.td1 {
    width: 35%;
}

.td2 {
    width: 15%;
}

.td3 {
    width: 35%;
}

.td4 {
    width: 15%;
}


/* game */

#game {
    display: none;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}