/* backbone */

html,
body {
    background-color: rgba(233, 233, 233, 0.658);
    margin: 0;
    height: 100%;
}

#game-window {
    background-color: rgb(180, 210, 230);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

#game-menu {
    background-color: rgb(95, 98, 126);
    overflow: auto;
    height: 10%;
    border: rgb(48, 48, 18) 2.5px solid;
    border-radius: 5px;
    margin: 10px;
}

#game-menu-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}

#game-menu-stats {
    width: calc(47.5% - 16px);
    height: calc(98% - 13.5px);
    margin: 3px;
    background-color: rgb(154, 219, 152);
    display: none;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#game-menu-statistics {
    width: calc(47.5% - 16px);
    height: calc(98% - 13.5px);
    margin: 3px;
    background-color: rgb(180, 210, 230);
    display: none;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#prev {
    width: calc(5% - 11px);
    height: calc(98% - 8.5px);
    margin: 3px;
    display: none;
}

#prev:hover {
    cursor: pointer;
    src: "../assets/back2.png";
}

#game-container {
    background-color: rgb(95, 98, 126);
    height: calc(90% - 40px);
    border: rgb(48, 48, 18) 2.5px solid;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}


/* main menu */

#main-menu {
    width: 100%;
    height: 94%;
    max-width: 250px;
    max-height: 300px;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(12, 3, 3, 0.158);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

.main-menu-button {
    width: 96%;
    height: 18%;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
    background-color: rgb(187, 107, 93);
    font-size: 4vh;
    margin: 1%;
}

.main-menu-button:hover {
    background-color: rgb(187, 50, 25);
    cursor: pointer;
}


/* room */

#room {
    width: 98%;
    max-width: 500px;
    height: 98%;
    max-height: 500px;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(12, 3, 3, 0.158);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
    display: none;
}

#hero-nav-div {
    width: 100%;
    height: 70%;
}

.nav-arrow-div {
    width: calc(8% - 5px);
    height: calc(98% - 5px);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
    display: inline-block;
    margin: 1%;
}

.nav-arrow-img {
    width: 100%;
    height: 100%;
}

.nav-arrow-div:hover {
    background-color: rgb(95, 98, 126);
    cursor: pointer;
}

#hero-name-img-div {
    margin: 1%;
    text-align: center;
    width: calc(77% - 8px);
    height: 98%;
    display: inline-block;
}

#choose-hero-img {
    width: calc(100% - 5px);
    height: calc(90% - 5px);
    border-radius: 10px;
    border: rgb(48, 48, 30) 2.5px solid;
}

#choose-hero-name {
    height: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(154, 219, 152);
    font-weight: bold;
    font-size: 3vh;
}

#stats-div {
    height: calc(18% - 5px);
    width: calc(98% - 5px);
    margin: 1%;
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#stats-div table {
    width: 100%;
    height: 100%;
    background-color: rgb(154, 219, 152);
}

#room-start {
    height: calc(8%);
    width: calc(98%);
    margin: 1%;
    text-align: center;
    background-color: rgb(187, 107, 93);
    border: rgb(48, 48, 30) 2.5px solid;
    border-radius: 5px;
}

#room-start:hover {
    cursor: pointer;
    background-color: rgb(187, 50, 25);
}

#stats-div table .td1 {
    width: 35%;
}

#stats-div table .td2 {
    width: 15%;
}

#stats-div table .td3 {
    width: 35%;
}

#stats-div table .td4 {
    width: 15%;
}


/* game */

#game {
    display: none;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
}

.health-progress {
    position: absolute;
    top: -4px;
    height: 4px;
    background-color: red;
}

#game-menu-stats table,
#game-menu-statistics table {
    width: 100%;
    height: 100%;
}

#game-menu-stats table .td1,
#game-menu-statistics table .td1 {
    width: 40%;
}

#game-menu-stats table .td2,
#game-menu-statistics table .td2 {
    width: 10%;
}

#game-menu-stats table .td3,
#game-menu-statistics table .td3 {
    width: 40%;
}

#game-menu-stats table .td4,
#game-menu-statistics table .td4 {
    width: 10%;
}


/* loader */

#loading-screen {
    z-index: -1;
    position: absolute;
    background-color: rgb(29, 23, 29);
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading-screen img {
    margin-top: 10%;
    width: 10%;
    height: 10%;
}